* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}
img {
    object-fit: cover;
}
.bi-bookmark-heart {
    width: 35px;
    height: 35px;
    margin-left: -10px;
    margin-top: -5px;
}
/* .greet {
    color: #d3ae43;
    font-family: "Allura", cursive;
} */
.welcome-logo {
    margin-top: 4px;
    margin-left: 10px;
}
.welcome-logo-name {
    margin-left: 10px;
    font-weight: bolder;
}
.greet1 {
    font-family: "Playfair Display SC", serif;
}
/* .desc {
    background-image: url("https://images.unsplash.com/photo-1531143649673-c46c71c7bbd2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80&fbclid=IwAR2GanjiQQxFuEaNLMvwWF5Oq9fuJC1fAh3oopYS1gzk_8ho4AlcuRPU");
    background-size: cover;
} */
.desc {
    position: absolute;
    margin-top: 100px;
    width: 45%;
    float: left;
    margin-left: 10%;
    font-size: 35px;
    font-family: "Open Sans Condensed", sans-serif;
    border-right: 2px solid rgba(169, 169, 169, 0.801);
    padding-right: 68px;
}
.welcome {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    /* background-color: #f1edea; */
}
.registration,
.login {
    width: 30%;
    height: 410px;
    padding: 15px;
    /* position: absolute; */
    margin-top: 110px;
    padding-left: 30px;
    float: right;
    background: #f7f7f7f5;
    margin-right: 10%;
}
.registration input,
.login input {
    margin: 10px 5px;
}
.registration a {
    text-decoration: none;
    color: rgb(47, 47, 124);
    font-size: 15px;
    margin-top: 20px;
}
.registration button,
.login button {
    padding: 5px 15px;
    margin-top: 10px;
    margin-bottom: 13px;
}
.move1 {
    margin-right: 2px;
}
.move2 {
    margin-right: 40px;
}
.move3 {
    margin-right: 9px;
}
.move4 {
    margin-right: 32px;
}
button {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 19px;
    padding-right: 19px;
}
#big-profile-img {
    width: 100%;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 2px 1px 3px 4px rgba(0, 0, 0, 0.199);
}
.profile-middle {
    padding-top: 100px;
    padding-left: 40px;
    text-align: center;
    padding-right: 30px;
}
.profile-middle h4 {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 30px;
    font-weight: bolder;
}
#no-other-users-profile {
    padding-top: 130px;
    margin-left: 50px;
    padding-left: 70px;
    /* padding-bottom: -60px; */
    text-align: left;
    margin-right: -380px;
    border-left: 2px solid rgba(128, 128, 128, 0.849);
}

#comment-img {
    border-radius: 50%;
    overflow: hidden;
    height: 40px;
    width: 40px;
    margin-right: 15px;
    margin-left: 15px;
}
.comment {
    display: flex;
    justify-content: left;
    margin-left: 15px;
}
.comment-input {
    width: 20%;
    position: absolute;
    right: 160px;
    top: 440px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}
.comment-button {
    position: absolute;
    right: 160px;
    top: 500px;
    padding: 2px 52px;
}
#comment-final {
    padding-top: auto;
    padding-bottom: auto;
}
.profiles {
    height: 100vw;
    background-image: url("https://images.unsplash.com/photo-1517021818302-9b520a06c834?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80");
    background-repeat: no-repeat;
    background-size: 31%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    grid-gap: 10px;
    padding: 0 20px 0 20px;
}
#users-profile h4 {
    text-align: right;
}
#users-profile {
    /* position: absolute; */
    margin-left: 150px;
    margin-top: 80px;
}
#other-users-profile {
    /* position: absolute; */
    margin-right: 80px;
    margin-top: 85px;
    /* float: right;
    right: 300px; */
}
.pending-items {
    height: 800px;
    /* overflow: hidden; */
    position: relative;
    display: flex;
    flex-direction: row;
}
.pending-item {
    width: 70%;
    height: 700px;
    right: 15%;
    margin-top: 10px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    object-fit: cover;
    text-align: center;
    /* transform: translateX(100%); */
    padding-top: 30px;
}
#pending-img {
    height: 400px;
    width: auto;
    max-width: 85%;
    display: block;
    margin-left: 20%;
    margin-right: auto;
}
#pending-text {
    position: absolute;
    top: 120px;
    margin-left: auto;
    right: 200px;
    font-size: 25px;
}
#pending-price {
    position: absolute;
    top: 160px;
    margin-left: auto;
    right: 200px;
}
#no {
    position: absolute;
    top: 460px;
    left: 325px;
    padding: 5px 10px;
    background-color: white;
    border-color: rgba(128, 128, 128, 0.377);
}
#yes {
    position: absolute;
    top: 460px;
    left: 440px;
    padding: 5px 10px;
    background-color: rgba(39, 155, 39, 0.384);
    text-shadow: 2px 0.5px 1px 2px rgba(0, 0, 0, 0.199);
    border-color: #10301062;
    color: rgb(24, 36, 27);
}
#yes,
#no {
    margin-left: -60px;
    /* box-shadow: 2px 0.5px 1px 2px rgba(0, 0, 0, 0.199); */
    padding: 10px 40px;
    font-weight: bolder;
    border-radius: 5px;
    font-size: 20px;
}
#yes:hover {
    background-color: rgba(24, 185, 24, 0.425);
    box-shadow: 3px 0.5px 1px 2px rgba(0, 0, 0, 0.199);
}
#no:hover {
    background-color: rgb(241, 150, 150);
}
.final-price {
    margin-top: 50px;
    font-size: 35px;
    font-weight: bold;
    margin-left: 35px;
    margin-bottom: 50px;
}
.matches-empty,
.pending-empty {
    font-size: 30px;
    font-weight: bold;
    display: grid;
    grid-column: 1fr;
    text-align: center;
    margin-top: 100px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.flex {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 10px 20px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.596);
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}
.links {
    display: flex;
    text-decoration: none;
    font-weight: bold;
}

.links a {
    text-decoration: none;
    margin-right: 15px;
    color: rgb(82, 78, 78);
}

a:hover {
    text-decoration: none;
    color: rgb(134, 122, 122);
}
.all-products {
    /* background-color: gray; */
    /* width: 96%; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    grid-gap: 10px;
    padding: 0 20px 0 20px;
}
.product {
    box-shadow: 2px 1px 3px 4px rgba(0, 0, 0, 0.062);
    color: rgb(75, 71, 71);
    border: 0px solid black;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin: 20px 0px;
    text-align: center;
}
.product button {
    margin-bottom: 15px;
}
#product-img {
    width: 100%;
    height: 356px;
    /* margin-left: auto;
    margin-right: auto; */
    /* object-position: 100% 100%; */
    /* object-fit: cover; */
    max-width: 100%;
}
.matches {
    background-color: rgb(226, 220, 220);
    width: 98%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px auto;
    grid-gap: 5px;
}
.match {
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    color: rgb(75, 71, 71);
    border: 0px solid black;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin: 20px 10px;
    text-align: center;
}
#match-img {
    width: 70%;
    max-height: 65%;
    margin-left: auto;
    margin-right: auto;
}
#match-text {
    margin-top: 20px;
}
#uploader {
    position: absolute;
    margin-top: 20px;
    top: 520px;
    margin-left: 230px;
    display: flex;
}
#uploader button {
    height: 30px;
    padding: 0 10px;
}
#uploader input {
    width: 220px;
}
#uploader .x {
    font-weight: bold;
    margin-left: 10px;
    border: 1px solid black;
    padding: 0 6px;
    background-color: gainsboro;
}
#uploader .x:hover {
    background-color: rgb(154, 154, 211);
}
#item-uploader {
    margin-left: 30px;
    margin-top: 10px;
}
#item-upload-form input {
    margin: 3px;
    width: 200px;
}
#item-upload-form button {
    margin-left: 20px;
    height: 30px;
    padding: 0 10px;
}
.search-div {
    margin-left: 30px;
    margin-top: 10px;
}

/* .profile-link {
    border: 1px solid purple;
    border-radius: 10px;
    text-decoration: none;
    padding: 3px;
    position: fixed;
    float: right;
    top: 40px;
    right: 110px;
    margin: 10px;
}
.search-link {
    border: 1px solid purple;
    border-radius: 10px;
    text-decoration: none;
    padding: 3px;
    position: fixed;
    float: right;
    top: 70px;
    right: 4px;
    margin: 10px;
}
.gallery-link {
    border: 1px solid purple;
    border-radius: 10px;
    text-decoration: none;
    padding: 3px;
    float: right;
    position: fixed;
    top: 100px;
    right: 5px;
    margin: 10px;
}
.matches-link {
    border: 1px solid purple;
    border-radius: 10px;
    text-decoration: none;
    padding: 3px;
    position: fixed;
    float: right;
    top: 130px;
    right: 95px;
    margin: 10px;
}
.upload-item-link {
    border: 1px solid purple;
    border-radius: 10px;
    text-decoration: none;
    padding: 3px;
    position: fixed;
    float: right;
    top: 160px;
    right: 68px;
    margin: 10px;
}
.logout-link {
    border: 1px solid purple;
    border-radius: 10px;
    text-decoration: none;
    padding: 3px;
    position: fixed;
    float: right;
    top: 190px;
    right: 102px;
    margin: 10px;
} */
